{"swagger":"2.0","info":{"version":"1.0","title":"All API"},"host":"imapnext.com:5556","basePath":"/ihp/drug/formulary-ig/v1","tags":[{"name":"medication-knowledge-controller","description":"Medication Knowledge Controller"},{"name":"admin-controller","description":"Admin Controller"},{"name":"encounter-controller","description":"Encounter Controller"},{"name":"practitioner-role-controller","description":"Practitioner Role Controller"},{"name":"organization-controller","description":"Organization Controller"},{"name":"patient-controller","description":"Patient Controller"},{"name":"valued-set-controller","description":"Valued Set Controller"},{"name":"master-data-controller","description":"Master Data Controller"},{"name":"list-controller","description":"List Controller"},{"name":"structure-definition-controller","description":"Structure Definition Controller"},{"name":"practitioner-controller","description":"Practitioner Controller"},{"name":"code-system-controller","description":"Code System Controller"},{"name":"observation-controller","description":"Observation Controller"}],"paths":{"/fhir/Admin/rule/all":{"get":{"tags":["admin-controller"],"summary":"findAllRule","operationId":"findAllRuleUsingGET","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Admin/rule/create":{"post":{"tags":["admin-controller"],"summary":"createRule","operationId":"createRuleUsingPOST","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"ruleSetting","description":"ruleSetting","required":true,"schema":{"$ref":"#/definitions/RuleSettingForm"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Admin/rule/delete/{id}":{"delete":{"tags":["admin-controller"],"summary":"deleteRule","operationId":"deleteRuleUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/CodeSystem":{"get":{"tags":["code-system-controller"],"summary":"findAllCodeSystem","operationId":"findAllCodeSystemUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"language","in":"query","required":false,"type":"string"},{"name":"date","in":"query","required":false,"type":"string"},{"name":"identifier","in":"query","required":false,"type":"string"},{"name":"code","in":"query","required":false,"type":"string"},{"name":"contextTypeValue","in":"query","required":false,"type":"string"},{"name":"contentMode","in":"query","required":false,"type":"string"},{"name":"jurisdiction","in":"query","required":false,"type":"string"},{"name":"contextType","in":"query","required":false,"type":"string"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"title","in":"query","required":false,"type":"string"},{"name":"version","in":"query","required":false,"type":"string"},{"name":"url","in":"query","required":false,"type":"string"},{"name":"contextQuantity","in":"query","required":false,"type":"string"},{"name":"supplements","in":"query","required":false,"type":"string"},{"name":"system","in":"query","required":false,"type":"string"},{"name":"context","in":"query","required":false,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"publisher","in":"query","required":false,"type":"string"},{"name":"id","in":"query","required":false,"type":"string"},{"name":"contextTypeQuantity","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/CodeSystem/create":{"post":{"tags":["code-system-controller"],"summary":"createCodeSystem","operationId":"createCodeSystemUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/CodeSystem/{id}":{"get":{"tags":["code-system-controller"],"summary":"findCodeSystemById","operationId":"findCodeSystemByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["code-system-controller"],"summary":"updateCodeSystem","operationId":"updateCodeSystemUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["code-system-controller"],"summary":"deleteCodeSystem","operationId":"deleteCodeSystemUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Encounter":{"get":{"tags":["encounter-controller"],"summary":"findAllEncounter","operationId":"findAllEncounterUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"participant-type","in":"query","description":"participant-type","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"appointment","in":"query","description":"appointment","required":false,"type":"string"},{"name":"part-of","in":"query","description":"part-of","required":false,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"string"},{"name":"participant","in":"query","description":"participant","required":false,"type":"string"},{"name":"reason-code","in":"query","description":"reason-code","required":false,"type":"string"},{"name":"based-on","in":"query","description":"based-on","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"location-period","in":"query","description":"location-period","required":false,"type":"string"},{"name":"special-arrangement","in":"query","description":"special-arrangement","required":false,"type":"string"},{"name":"class","in":"query","description":"class","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"practitioner","in":"query","description":"practitioner","required":false,"type":"string"},{"name":"episode-of-care","in":"query","description":"episode-of-care","required":false,"type":"string"},{"name":"length","in":"query","description":"length","required":false,"type":"string"},{"name":"reason-reference","in":"query","description":"reason-reference","required":false,"type":"string"},{"name":"location","in":"query","description":"location","required":false,"type":"string"},{"name":"service-provider","in":"query","description":"service-provider","required":false,"type":"string"},{"name":"account","in":"query","description":"account","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Encounter/create":{"post":{"tags":["encounter-controller"],"summary":"createEncounter","operationId":"createEncounterUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Encounter/{id}":{"put":{"tags":["encounter-controller"],"summary":"updateEncounter","operationId":"updateEncounterUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["encounter-controller"],"summary":"deleteEncounter","operationId":"deleteEncounterUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/List":{"get":{"tags":["list-controller"],"summary":"findAllCoveragePlan","operationId":"findAllCoveragePlanUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"empty-reason","in":"query","description":"empty-reason","required":false,"type":"string"},{"name":"encounter","in":"query","description":"encounter","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"item","in":"query","description":"item","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"notes","in":"query","description":"notes","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"source","in":"query","description":"source","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"title","in":"query","description":"title","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/List/create":{"post":{"tags":["list-controller"],"summary":"createCoveragePlan","operationId":"createCoveragePlanUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/List/{id}":{"get":{"tags":["list-controller"],"summary":"findCoveragePlanById","operationId":"findCoveragePlanByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["list-controller"],"summary":"updateCoverage","operationId":"updateCoverageUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["list-controller"],"summary":"deleteCoveragePlan","operationId":"deleteCoveragePlanUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/MasterData/RuleSettingOptions":{"get":{"tags":["master-data-controller"],"summary":"ruleSettings","operationId":"ruleSettingsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/MasterData/UserRoles":{"get":{"tags":["master-data-controller"],"summary":"userRoles","operationId":"userRolesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/MedicationKnowledge":{"get":{"tags":["medication-knowledge-controller"],"summary":"findAllMedicationKnowledgePlan","operationId":"findAllMedicationKnowledgePlanUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"ingredient","in":"query","description":"ingredient","required":false,"type":"string"},{"name":"doseform","in":"query","description":"doseform","required":false,"type":"string"},{"name":"classification-type","in":"query","description":"classification-type","required":false,"type":"string"},{"name":"monograph-type","in":"query","description":"monograph-type","required":false,"type":"string"},{"name":"classification","in":"query","description":"classification","required":false,"type":"string"},{"name":"manufacturer","in":"query","description":"manufacturer","required":false,"type":"string"},{"name":"ingredient-code","in":"query","description":"ingredient-code","required":false,"type":"string"},{"name":"source-cost","in":"query","description":"source-cost","required":false,"type":"string"},{"name":"monitoring-program-name","in":"query","description":"monitoring-program-name","required":false,"type":"string"},{"name":"monograph","in":"query","description":"monograph","required":false,"type":"string"},{"name":"monitoring-program-type","in":"query","description":"monitoring-program-type","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"DrugPlan","in":"query","description":"DrugPlan","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"name":"_getpages","in":"query","description":"_getpages","required":false,"type":"string"},{"name":"_getpagesoffset","in":"query","description":"_getpagesoffset","required":false,"type":"integer","default":0,"format":"int32"},{"name":"_count","in":"query","description":"_count","required":false,"type":"integer","default":20,"format":"int32"},{"name":"_bundletype","in":"query","description":"_bundletype","required":false,"type":"string","default":"searchset"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/MedicationKnowledge/create":{"post":{"tags":["medication-knowledge-controller"],"summary":"createMedicationKnowledgePlan","operationId":"createMedicationKnowledgePlanUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":true,"type":"string"},{"name":"_pretty","in":"query","description":"_pretty","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/MedicationKnowledge/{id}":{"get":{"tags":["medication-knowledge-controller"],"summary":"findMedicationKnowledgeById","operationId":"findMedicationKnowledgeByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["medication-knowledge-controller"],"summary":"updateMedicationKnowledgePlan","operationId":"updateMedicationKnowledgePlanUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["medication-knowledge-controller"],"summary":"deleteMedicationKnowledgePlan","operationId":"deleteMedicationKnowledgePlanUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"format","in":"query","description":"format","required":false,"type":"string"},{"name":"pretty","in":"query","description":"pretty","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Observation":{"get":{"tags":["observation-controller"],"summary":"findAllObservation","operationId":"findAllObservationUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"combo-data-absent-reason","in":"query","description":"combo-data-absent-reason","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"combo-code-value-quantity","in":"query","description":"combo-code-value-quantity","required":false,"type":"string"},{"name":"component-data-absent-reason","in":"query","description":"component-data-absent-reason","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"value-concept","in":"query","description":"value-concept","required":false,"type":"string"},{"name":"value-date","in":"query","description":"value-date","required":false,"type":"string"},{"name":"derived-from","in":"query","description":"derived-from","required":false,"type":"string"},{"name":"focous","in":"query","description":"focous","required":false,"type":"string"},{"name":"part-of","in":"query","description":"part-of","required":false,"type":"string"},{"name":"has-member","in":"query","description":"has-member","required":false,"type":"string"},{"name":"code-value-string","in":"query","description":"code-value-string","required":false,"type":"string"},{"name":"component-code-value-quantity","in":"query","description":"component-code-value-quantity","required":false,"type":"string"},{"name":"based-on","in":"query","description":"based-on","required":false,"type":"string"},{"name":"code-value-date","in":"query","description":"code-value-date","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"specimen","in":"query","description":"specimen","required":false,"type":"string"},{"name":"code-value-quantity","in":"query","description":"code-value-quantity","required":false,"type":"string"},{"name":"component-code","in":"query","description":"component-code","required":false,"type":"string"},{"name":"combo-code-value-concept","in":"query","description":"combo-code-value-concept","required":false,"type":"string"},{"name":"value-string","in":"query","description":"value-string","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"performer","in":"query","description":"performer","required":false,"type":"string"},{"name":"combo-code","in":"query","description":"combo-code","required":false,"type":"string"},{"name":"method","in":"query","description":"method","required":false,"type":"string"},{"name":"value-quantity","in":"query","description":"value-quantity","required":false,"type":"string"},{"name":"component-value-quantity","in":"query","description":"component-value-quantity","required":false,"type":"string"},{"name":"data-absent-reason","in":"query","description":"data-absent-reason","required":false,"type":"string"},{"name":"combo-value-quantity","in":"query","description":"combo-value-quantity","required":false,"type":"string"},{"name":"encounter","in":"query","description":"encounter","required":false,"type":"string"},{"name":"code-value-concept","in":"query","description":"code-value-concept","required":false,"type":"string"},{"name":"component-code-value-concept","in":"query","description":"component-code-value-concept","required":false,"type":"string"},{"name":"component-value-concept","in":"query","description":"component-value-concept","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"device","in":"query","description":"device","required":false,"type":"string"},{"name":"combo-value-concept","in":"query","description":"combo-value-concept","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Observation/create":{"post":{"tags":["observation-controller"],"summary":"createObservation","operationId":"createObservationUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Observation/{id}":{"put":{"tags":["observation-controller"],"summary":"updateObservation","operationId":"updateObservationUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["observation-controller"],"summary":"deleteObservation","operationId":"deleteObservationUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Organization":{"get":{"tags":["organization-controller"],"summary":"findAllOrganization","operationId":"findAllOrganizationUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"partOf","in":"query","description":"partOf","required":false,"type":"string"},{"name":"address","in":"query","description":"address","required":false,"type":"string"},{"name":"address-state","in":"query","description":"address-state","required":false,"type":"string"},{"name":"active","in":"query","description":"active","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"string"},{"name":"address-postalCode","in":"query","description":"address-postalCode","required":false,"type":"string"},{"name":"address-country","in":"query","description":"address-country","required":false,"type":"string"},{"name":"endpoint","in":"query","description":"endpoint","required":false,"type":"string"},{"name":"phonetic","in":"query","description":"phonetic","required":false,"type":"string"},{"name":"addressUse","in":"query","description":"addressUse","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"address-city","in":"query","description":"address-city","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Organization/create":{"post":{"tags":["organization-controller"],"summary":"createOrganization","operationId":"createOrganizationUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Organization/{id}":{"put":{"tags":["organization-controller"],"summary":"updateOrganization","operationId":"updateOrganizationUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["organization-controller"],"summary":"deleteOrganization","operationId":"deleteOrganizationUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Patient":{"get":{"tags":["patient-controller"],"summary":"findAllPatient","operationId":"findAllPatientUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"birthdate","in":"query","description":"birthdate","required":false,"type":"string"},{"name":"deceased","in":"query","description":"deceased","required":false,"type":"string"},{"name":"address-state","in":"query","description":"address-state","required":false,"type":"string"},{"name":"gender","in":"query","description":"gender","required":false,"type":"string"},{"name":"link","in":"query","description":"link","required":false,"type":"string"},{"name":"language","in":"query","description":"language","required":false,"type":"string"},{"name":"address-country","in":"query","description":"address-country","required":false,"type":"string"},{"name":"death-date","in":"query","description":"death-date","required":false,"type":"string"},{"name":"phonetic","in":"query","description":"phonetic","required":false,"type":"string"},{"name":"telecom","in":"query","description":"telecom","required":false,"type":"string"},{"name":"address-city","in":"query","description":"address-city","required":false,"type":"string"},{"name":"email","in":"query","description":"email","required":false,"type":"string"},{"name":"given","in":"query","description":"given","required":false,"type":"string"},{"name":"address","in":"query","description":"address","required":false,"type":"string"},{"name":"active","in":"query","description":"active","required":false,"type":"string"},{"name":"address-postalCode","in":"query","description":"address-postalCode","required":false,"type":"string"},{"name":"phone","in":"query","description":"phone","required":false,"type":"string"},{"name":"organization","in":"query","description":"organization","required":false,"type":"string"},{"name":"address-use","in":"query","description":"address-use","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"family","in":"query","description":"family","required":false,"type":"string"},{"name":"general-practitioner","in":"query","description":"general-practitioner","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Patient/create":{"post":{"tags":["patient-controller"],"summary":"createPatient","operationId":"createPatientUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Patient/{id}":{"put":{"tags":["patient-controller"],"summary":"updatePatient","operationId":"updatePatientUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["patient-controller"],"summary":"deletePatient","operationId":"deletePatientUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Practitioner":{"get":{"tags":["practitioner-controller"],"summary":"findAllPractioner","operationId":"findAllPractionerUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"given","in":"query","description":"given","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"address","in":"query","description":"address","required":false,"type":"string"},{"name":"address-state","in":"query","description":"address-state","required":false,"type":"string"},{"name":"gender","in":"query","description":"gender","required":false,"type":"string"},{"name":"active","in":"query","description":"active","required":false,"type":"string"},{"name":"address-city","in":"query","description":"address-city","required":false,"type":"string"},{"name":"address-postalCode","in":"query","description":"address-postalCode","required":false,"type":"string"},{"name":"phonetic","in":"query","description":"phonetic","required":false,"type":"string"},{"name":"phone","in":"query","description":"phone","required":false,"type":"string"},{"name":"address-country","in":"query","description":"address-country","required":false,"type":"string"},{"name":"address-use","in":"query","description":"address-use","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"telecom","in":"query","description":"telecom","required":false,"type":"string"},{"name":"communication","in":"query","description":"communication","required":false,"type":"string"},{"name":"family","in":"query","description":"family","required":false,"type":"string"},{"name":"email","in":"query","description":"email","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Practitioner/create":{"post":{"tags":["practitioner-controller"],"summary":"createPractitioner","operationId":"createPractitionerUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Practitioner/{id}":{"put":{"tags":["practitioner-controller"],"summary":"updatePractitioner","operationId":"updatePractitionerUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["practitioner-controller"],"summary":"deletePractitioner","operationId":"deletePractitionerUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/PractitionerRole":{"get":{"tags":["practitioner-role-controller"],"summary":"findAllPractionerRole","operationId":"findAllPractionerRoleUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"specialty","in":"query","description":"specialty","required":false,"type":"string"},{"name":"role","in":"query","description":"role","required":false,"type":"string"},{"name":"practitioner","in":"query","description":"practitioner","required":false,"type":"string"},{"name":"active","in":"query","description":"active","required":false,"type":"string"},{"name":"endpoint","in":"query","description":"endpoint","required":false,"type":"string"},{"name":"service","in":"query","description":"service","required":false,"type":"string"},{"name":"phone","in":"query","description":"phone","required":false,"type":"string"},{"name":"organization","in":"query","description":"organization","required":false,"type":"string"},{"name":"location","in":"query","description":"location","required":false,"type":"string"},{"name":"telecom","in":"query","description":"telecom","required":false,"type":"string"},{"name":"email","in":"query","description":"email","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/PractitionerRole/create":{"post":{"tags":["practitioner-role-controller"],"summary":"createPractitionerRole","operationId":"createPractitionerRoleUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/PractitionerRole/{id}":{"put":{"tags":["practitioner-role-controller"],"summary":"updatePractitionerRole","operationId":"updatePractitionerRoleUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["practitioner-role-controller"],"summary":"deletePractitionerRole","operationId":"deletePractitionerRoleUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/StructureDefinition":{"get":{"tags":["structure-definition-controller"],"summary":"findAllExtension","operationId":"findAllExtensionUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"query","required":false,"type":"string"},{"name":"resourceType","in":"query","required":false,"type":"string"},{"name":"text","in":"query","required":false,"type":"object"},{"name":"url","in":"query","required":false,"type":"string"},{"name":"version","in":"query","required":false,"type":"string"},{"name":"total","in":"query","required":false,"type":"string"},{"name":"abstractText","in":"query","required":false,"type":"boolean"},{"name":"fhirversion","in":"query","required":false,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"title","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"string"},{"name":"date","in":"query","required":false,"type":"string"},{"name":"meta","in":"query","required":false,"type":"object"},{"name":"publisher","in":"query","required":false,"type":"string"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"type","in":"query","required":false,"type":"string"},{"name":"mapping","in":"query","required":false,"type":"object"},{"name":"kind","in":"query","required":false,"type":"string"},{"name":"basedefination","in":"query","required":false,"type":"string"},{"name":"derivation","in":"query","required":false,"type":"string"},{"name":"snapshot","in":"query","required":false,"type":"object"},{"name":"differential","in":"query","required":false,"type":"object"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/StructureDefinition/create":{"post":{"tags":["structure-definition-controller"],"summary":"createExtension","operationId":"createExtensionUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/StructureDefinition/{id}":{"put":{"tags":["structure-definition-controller"],"summary":"updateExtension","operationId":"updateExtensionUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":true,"type":"string"},{"name":"_pretty","in":"query","description":"_pretty","required":true,"type":"boolean"},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["structure-definition-controller"],"summary":"deleteExtension","operationId":"deleteExtensionUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":true,"type":"string"},{"name":"_pretty","in":"query","description":"_pretty","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/ValueSet":{"get":{"tags":["valued-set-controller"],"summary":"SearchValueSet","operationId":"SearchValueSetUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"query","required":false,"type":"string"},{"name":"language","in":"query","required":false,"type":"string"},{"name":"date","in":"query","required":false,"type":"string"},{"name":"identifier","in":"query","required":false,"type":"string"},{"name":"code","in":"query","required":false,"type":"string"},{"name":"contextTypeValue","in":"query","required":false,"type":"string"},{"name":"jurisdiction","in":"query","required":false,"type":"string"},{"name":"discription","in":"query","required":false,"type":"string"},{"name":"contextType","in":"query","required":false,"type":"string"},{"name":"title","in":"query","required":false,"type":"string"},{"name":"version","in":"query","required":false,"type":"string"},{"name":"url","in":"query","required":false,"type":"string"},{"name":"expansion","in":"query","required":false,"type":"string"},{"name":"reference","in":"query","required":false,"type":"string"},{"name":"contextQuantity","in":"query","required":false,"type":"string"},{"name":"context","in":"query","required":false,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"publisher","in":"query","required":false,"type":"string"},{"name":"contextTypeQuantity","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/ValueSet/create":{"post":{"tags":["valued-set-controller"],"summary":"createValueSet","operationId":"createValueSetUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/ValueSet/id":{"get":{"tags":["valued-set-controller"],"summary":"findValueSetById","operationId":"findValueSetByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/ValueSet/{id}":{"put":{"tags":["valued-set-controller"],"summary":"updateValueSet","operationId":"updateValueSetUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["valued-set-controller"],"summary":"deleteValueSet","operationId":"deleteValueSetUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}}},"definitions":{"RuleSettingForm":{"type":"object","properties":{"apiRelativePath":{"type":"string"},"id":{"type":"integer","format":"int64"},"orgName":{"type":"string"},"parameterName":{"type":"string"},"values":{"type":"object"}}}}}