{"swagger":"2.0","info":{"version":"1.0","title":"All API"},"host":"imapnext.com:5556","basePath":"/ihp/drug/formulary-ig/v1","tags":[{"name":"eob-controller","description":"EOB Controller"},{"name":"medication-knowledge-controller","description":"Medication Knowledge Controller"},{"name":"admin-controller","description":"Admin Controller"},{"name":"document-reference-controller","description":"Document Reference Controller"},{"name":"encounter-controller","description":"Encounter Controller"},{"name":"practitioner-role-controller","description":"Practitioner Role Controller"},{"name":"member-360-controller","description":"Member 360 Controller"},{"name":"medication-controller","description":"Medication Controller"},{"name":"procedure-controller","description":"Procedure Controller"},{"name":"patient-controller","description":"Patient Controller"},{"name":"care-team-controller","description":"Care Team Controller"},{"name":"valued-set-controller","description":"Valued Set Controller"},{"name":"allergy-intolerance-controller","description":"Allergy Intolerance Controller"},{"name":"master-data-controller","description":"Master Data Controller"},{"name":"structure-definition-controller","description":"Structure Definition Controller"},{"name":"goal-controller","description":"Goal Controller"},{"name":"practitioner-controller","description":"Practitioner Controller"},{"name":"code-system-controller","description":"Code System Controller"},{"name":"observation-controller","description":"Observation Controller"},{"name":"diagnostic-report-controller","description":"Diagnostic Report Controller"},{"name":"medication-request-controller","description":"Medication Request Controller"},{"name":"condition-controller","description":"Condition Controller"},{"name":"api-metrics-controller","description":"Api Metrics Controller"},{"name":"care-plan-controller","description":"Care Plan Controller"},{"name":"organization-controller","description":"Organization Controller"},{"name":"immunization-controller","description":"Immunization Controller"},{"name":"location-controller","description":"Location Controller"},{"name":"list-controller","description":"List Controller"},{"name":"device-controller","description":"Device Controller"},{"name":"coverage-controller","description":"Coverage Controller"}],"paths":{"/fhir/Admin/rule/all":{"get":{"tags":["admin-controller"],"summary":"findAllRule","operationId":"findAllRuleUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Admin/rule/create":{"post":{"tags":["admin-controller"],"summary":"createRule","operationId":"createRuleUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"ruleSetting","description":"ruleSetting","required":true,"schema":{"$ref":"#/definitions/RuleSettingForm"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Admin/rule/delete/{id}":{"delete":{"tags":["admin-controller"],"summary":"deleteRule","operationId":"deleteRuleUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/AllergyIntolerance":{"get":{"tags":["allergy-intolerance-controller"],"summary":"findAllAllergyIntolerance","operationId":"findAllAllergyIntoleranceUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"severity","in":"query","description":"severity","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"manifestation","in":"query","description":"manifestation","required":false,"type":"string"},{"name":"recorder","in":"query","description":"recorder","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"verification-status","in":"query","description":"verification-status","required":false,"type":"string"},{"name":"criticality","in":"query","description":"criticality","required":false,"type":"string"},{"name":"clinical-status","in":"query","description":"clinical-status","required":false,"type":"string"},{"name":"onset","in":"query","description":"onset","required":false,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"string"},{"name":"asserter","in":"query","description":"asserter","required":false,"type":"string"},{"name":"route","in":"query","description":"route","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"last-date","in":"query","description":"last-date","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/AllergyIntolerance/create":{"post":{"tags":["allergy-intolerance-controller"],"summary":"createEncounter","operationId":"createEncounterUsingPOST_2","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/AllergyIntolerance/{id}":{"put":{"tags":["allergy-intolerance-controller"],"summary":"updateEncounter","operationId":"updateEncounterUsingPUT_2","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["allergy-intolerance-controller"],"summary":"deleteEncounter","operationId":"deleteEncounterUsingDELETE_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/ApiMetrics/PatientAccess/search/{apiType}":{"get":{"tags":["api-metrics-controller"],"summary":"searchApiResourcePerformance","operationId":"searchApiResourcePerformanceUsingGET_2","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"apiType","in":"path","description":"apiType","required":true,"type":"string"},{"name":"searchText","in":"query","description":"searchText","required":false,"type":"string"},{"name":"requestMethod","in":"query","description":"requestMethod","required":false,"type":"string"},{"name":"fromDate","in":"query","description":"fromDate","required":true,"type":"string"},{"name":"toDate","in":"query","description":"toDate","required":true,"type":"string"},{"name":"from","in":"query","description":"from","required":true,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"size","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/ApiMetrics/PatientAccess/{apiType}":{"get":{"tags":["api-metrics-controller"],"summary":"getApiResourcePerformance","operationId":"getApiResourcePerformanceUsingGET_2","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"apiType","in":"path","description":"apiType","required":true,"type":"string"},{"name":"requestMethod","in":"query","description":"requestMethod","required":false,"type":"string"},{"name":"fromDate","in":"query","description":"fromDate","required":true,"type":"string"},{"name":"toDate","in":"query","description":"toDate","required":true,"type":"string"},{"name":"from","in":"query","description":"from","required":true,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"size","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/ApiMetrics/ProviderAccess/search/{apiType}":{"get":{"tags":["api-metrics-controller"],"summary":"searchApiResourcePerformance","operationId":"searchApiResourcePerformanceUsingGET_3","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"apiType","in":"path","description":"apiType","required":true,"type":"string"},{"name":"searchText","in":"query","description":"searchText","required":false,"type":"string"},{"name":"requestMethod","in":"query","description":"requestMethod","required":false,"type":"string"},{"name":"fromDate","in":"query","description":"fromDate","required":true,"type":"string"},{"name":"toDate","in":"query","description":"toDate","required":true,"type":"string"},{"name":"from","in":"query","description":"from","required":true,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"size","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/ApiMetrics/ProviderAccess/{apiType}":{"get":{"tags":["api-metrics-controller"],"summary":"getApiResourcePerformance","operationId":"getApiResourcePerformanceUsingGET_3","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"apiType","in":"path","description":"apiType","required":true,"type":"string"},{"name":"requestMethod","in":"query","description":"requestMethod","required":false,"type":"string"},{"name":"fromDate","in":"query","description":"fromDate","required":true,"type":"string"},{"name":"toDate","in":"query","description":"toDate","required":true,"type":"string"},{"name":"from","in":"query","description":"from","required":true,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"size","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/ApiMetrics/mostSearchedApis":{"get":{"tags":["api-metrics-controller"],"summary":"getMostSearchedApis","operationId":"getMostSearchedApisUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"requestMethod","in":"query","description":"requestMethod","required":false,"type":"string"},{"name":"fromDate","in":"query","description":"fromDate","required":true,"type":"string"},{"name":"toDate","in":"query","description":"toDate","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/ApiMetrics/performance":{"get":{"tags":["api-metrics-controller"],"summary":"performance","operationId":"performanceUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"requestUrl","in":"query","description":"requestUrl","required":false,"type":"string","default":"fhir"},{"name":"requestMethod","in":"query","description":"requestMethod","required":false,"type":"string"},{"name":"fromDate","in":"query","description":"fromDate","required":true,"type":"string"},{"name":"toDate","in":"query","description":"toDate","required":true,"type":"string"},{"name":"from","in":"query","description":"from","required":true,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"size","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/CarePlan":{"get":{"tags":["care-plan-controller"],"summary":"findAllCarePlan","operationId":"findAllCarePlanUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"care-team","in":"query","description":"care-team","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"goal","in":"query","description":"goal","required":false,"type":"string"},{"name":"performer","in":"query","description":"performer","required":false,"type":"string"},{"name":"replaces","in":"query","description":"replaces","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"instantiates-canonical","in":"query","description":"instantiates-canonical","required":false,"type":"string"},{"name":"part-of","in":"query","description":"part-of","required":false,"type":"string"},{"name":"encounter","in":"query","description":"encounter","required":false,"type":"string"},{"name":"intent","in":"query","description":"intent","required":false,"type":"string"},{"name":"activity-reference","in":"query","description":"activity-reference","required":false,"type":"string"},{"name":"condition","in":"query","description":"condition","required":false,"type":"string"},{"name":"based-on","in":"query","description":"based-on","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"activity-date","in":"query","description":"activity-date","required":false,"type":"string"},{"name":"instantiates-uri","in":"query","description":"instantiates-uri","required":false,"type":"string"},{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"activity-code","in":"query","description":"activity-code","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/CarePlan/create":{"post":{"tags":["care-plan-controller"],"summary":"createCarePlan","operationId":"createCarePlanUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/CarePlan/{id}":{"get":{"tags":["care-plan-controller"],"summary":"findCarePlanById","operationId":"findCarePlanByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["care-plan-controller"],"summary":"updateCarePlan","operationId":"updateCarePlanUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["care-plan-controller"],"summary":"deleteCarePlan","operationId":"deleteCarePlanUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/CareTeam":{"get":{"tags":["care-team-controller"],"summary":"findAllCareTeam","operationId":"findAllCareTeamUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"encounter","in":"query","description":"encounter","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"participant","in":"query","description":"participant","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/CareTeam/create":{"post":{"tags":["care-team-controller"],"summary":"createCareTeam","operationId":"createCareTeamUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/CareTeam/{id}":{"get":{"tags":["care-team-controller"],"summary":"findCareTeamById","operationId":"findCareTeamByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["care-team-controller"],"summary":"updateCareTeam","operationId":"updateCareTeamUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["care-team-controller"],"summary":"deleteCareTeam","operationId":"deleteCareTeamUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/CodeSystem":{"get":{"tags":["code-system-controller"],"summary":"findAllCodeSystem","operationId":"findAllCodeSystemUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"language","in":"query","required":false,"type":"string"},{"name":"date","in":"query","required":false,"type":"string"},{"name":"identifier","in":"query","required":false,"type":"string"},{"name":"code","in":"query","required":false,"type":"string"},{"name":"contextTypeValue","in":"query","required":false,"type":"string"},{"name":"contentMode","in":"query","required":false,"type":"string"},{"name":"jurisdiction","in":"query","required":false,"type":"string"},{"name":"contextType","in":"query","required":false,"type":"string"},{"name":"description","in":"query","required":false,"type":"string"},{"name":"title","in":"query","required":false,"type":"string"},{"name":"version","in":"query","required":false,"type":"string"},{"name":"url","in":"query","required":false,"type":"string"},{"name":"contextQuantity","in":"query","required":false,"type":"string"},{"name":"supplements","in":"query","required":false,"type":"string"},{"name":"system","in":"query","required":false,"type":"string"},{"name":"context","in":"query","required":false,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"publisher","in":"query","required":false,"type":"string"},{"name":"id","in":"query","required":false,"type":"string"},{"name":"contextTypeQuantity","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/CodeSystem/create":{"post":{"tags":["code-system-controller"],"summary":"createCodeSystem","operationId":"createCodeSystemUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/CodeSystem/{id}":{"get":{"tags":["code-system-controller"],"summary":"findCodeSystemById","operationId":"findCodeSystemByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["code-system-controller"],"summary":"updateCodeSystem","operationId":"updateCodeSystemUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["code-system-controller"],"summary":"deleteCodeSystem","operationId":"deleteCodeSystemUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Condition":{"get":{"tags":["condition-controller"],"summary":"findAllCondition","operationId":"findAllConditionUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"evidence-detail","in":"query","description":"evidence-detail","required":false,"type":"string"},{"name":"severity","in":"query","description":"severity","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"onset-info","in":"query","description":"onset-info","required":false,"type":"string"},{"name":"recorded-date","in":"query","description":"recorded-date","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"evidence","in":"query","description":"evidence","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"verification-status","in":"query","description":"verification-status","required":false,"type":"string"},{"name":"clinical-status","in":"query","description":"clinical-status","required":false,"type":"string"},{"name":"encounter","in":"query","description":"encounter","required":false,"type":"string"},{"name":"onset-date","in":"query","description":"onset-date","required":false,"type":"string"},{"name":"abatement-date","in":"query","description":"abatement-date","required":false,"type":"string"},{"name":"asserter","in":"query","description":"asserter","required":false,"type":"string"},{"name":"stage","in":"query","description":"stage","required":false,"type":"string"},{"name":"abatement-string","in":"query","description":"abatement-string","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"abatement-age","in":"query","description":"abatement-age","required":false,"type":"string"},{"name":"onset-age","in":"query","description":"onset-age","required":false,"type":"string"},{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"body-site","in":"query","description":"body-site","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Condition/create":{"post":{"tags":["condition-controller"],"summary":"createCondition","operationId":"createConditionUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Condition/{id}":{"get":{"tags":["condition-controller"],"summary":"findConditionById","operationId":"findConditionByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["condition-controller"],"summary":"updateCondition","operationId":"updateConditionUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["condition-controller"],"summary":"deleteCondition","operationId":"deleteConditionUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Coverage":{"get":{"tags":["coverage-controller"],"summary":"findAllCoverage","operationId":"findAllCoverageUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"subscriber","in":"query","description":"subscriber","required":false,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"string"},{"name":"payor","in":"query","description":"payor","required":false,"type":"string"},{"name":"beneficiary","in":"query","description":"beneficiary","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"class-value","in":"query","description":"class-value","required":false,"type":"string"},{"name":"class-type","in":"query","description":"class-type","required":false,"type":"string"},{"name":"dependent","in":"query","description":"dependent","required":false,"type":"string"},{"name":"policy-holder","in":"query","description":"policy-holder","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Coverage/create":{"post":{"tags":["coverage-controller"],"summary":"createCoverage","operationId":"createCoverageUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Coverage/{id}":{"get":{"tags":["coverage-controller"],"summary":"findCoverageById","operationId":"findCoverageByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["coverage-controller"],"summary":"updateCoverage","operationId":"updateCoverageUsingPUT_2","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["coverage-controller"],"summary":"deleteCoverage","operationId":"deleteCoverageUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Device":{"get":{"tags":["device-controller"],"summary":"findAllDevice","operationId":"findAllDeviceUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"udi-di","in":"query","description":"udi-di","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"udi-carrier","in":"query","description":"udi-carrier","required":false,"type":"string"},{"name":"device-name","in":"query","description":"device-name","required":false,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"string"},{"name":"url","in":"query","description":"url","required":false,"type":"string"},{"name":"manufacturer","in":"query","description":"manufacturer","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"organization","in":"query","description":"organization","required":false,"type":"string"},{"name":"location","in":"query","description":"location","required":false,"type":"string"},{"name":"model","in":"query","description":"model","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Device/create":{"post":{"tags":["device-controller"],"summary":"createDevice","operationId":"createDeviceUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Device/{id}":{"put":{"tags":["device-controller"],"summary":"updateDevice","operationId":"updateDeviceUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["device-controller"],"summary":"deleteDevice","operationId":"deleteDeviceUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/DiagnosticReport":{"get":{"tags":["diagnostic-report-controller"],"summary":"findAllDiagnosticReport","operationId":"findAllDiagnosticReportUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"performer","in":"query","description":"performer","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"encounter","in":"query","description":"encounter","required":false,"type":"string"},{"name":"media","in":"query","description":"media","required":false,"type":"string"},{"name":"conclusion","in":"query","description":"conclusion","required":false,"type":"string"},{"name":"result","in":"query","description":"result","required":false,"type":"string"},{"name":"based-on","in":"query","description":"based-on","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"specimen","in":"query","description":"specimen","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"issued","in":"query","description":"issued","required":false,"type":"string"},{"name":"results-interpreter","in":"query","description":"results-interpreter","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/DiagnosticReport/create":{"post":{"tags":["diagnostic-report-controller"],"summary":"createDiagnosticReport","operationId":"createDiagnosticReportUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/DiagnosticReport/{id}":{"put":{"tags":["diagnostic-report-controller"],"summary":"updateDiagnosticReport","operationId":"updateDiagnosticReportUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["diagnostic-report-controller"],"summary":"deleteDiagnosticReport","operationId":"deleteDiagnosticReportUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/DocumentReference":{"get":{"tags":["document-reference-controller"],"summary":"findAllDocumentReference","operationId":"findAllDocumentReferenceUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"description","in":"query","description":"description","required":false,"type":"string"},{"name":"language","in":"query","description":"language","required":false,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"string"},{"name":"relation","in":"query","description":"relation","required":false,"type":"string"},{"name":"setting","in":"query","description":"setting","required":false,"type":"string"},{"name":"related","in":"query","description":"related","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"event","in":"query","description":"event","required":false,"type":"string"},{"name":"relationship","in":"query","description":"relationship","required":false,"type":"string"},{"name":"authenticator","in":"query","description":"authenticator","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"period","in":"query","description":"period","required":false,"type":"string"},{"name":"custodian","in":"query","description":"custodian","required":false,"type":"string"},{"name":"author","in":"query","description":"author","required":false,"type":"string"},{"name":"format","in":"query","description":"format","required":false,"type":"string"},{"name":"encounter","in":"query","description":"encounter","required":false,"type":"string"},{"name":"contenttype","in":"query","description":"contenttype","required":false,"type":"string"},{"name":"securityLabel","in":"query","description":"securityLabel","required":false,"type":"string"},{"name":"location","in":"query","description":"location","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"relatesto","in":"query","description":"relatesto","required":false,"type":"string"},{"name":"facility","in":"query","description":"facility","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/DocumentReference/create":{"post":{"tags":["document-reference-controller"],"summary":"createDocumentReference","operationId":"createDocumentReferenceUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/DocumentReference/{id}":{"put":{"tags":["document-reference-controller"],"summary":"updateDocumentReference","operationId":"updateDocumentReferenceUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["document-reference-controller"],"summary":"deleteDocumentReference","operationId":"deleteDocumentReferenceUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Encounter":{"get":{"tags":["encounter-controller"],"summary":"findAllEncounter","operationId":"findAllEncounterUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"participant-type","in":"query","description":"participant-type","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"appointment","in":"query","description":"appointment","required":false,"type":"string"},{"name":"part-of","in":"query","description":"part-of","required":false,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"string"},{"name":"participant","in":"query","description":"participant","required":false,"type":"string"},{"name":"reason-code","in":"query","description":"reason-code","required":false,"type":"string"},{"name":"based-on","in":"query","description":"based-on","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"location-period","in":"query","description":"location-period","required":false,"type":"string"},{"name":"special-arrangement","in":"query","description":"special-arrangement","required":false,"type":"string"},{"name":"class","in":"query","description":"class","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"practitioner","in":"query","description":"practitioner","required":false,"type":"string"},{"name":"episode-of-care","in":"query","description":"episode-of-care","required":false,"type":"string"},{"name":"length","in":"query","description":"length","required":false,"type":"string"},{"name":"reason-reference","in":"query","description":"reason-reference","required":false,"type":"string"},{"name":"location","in":"query","description":"location","required":false,"type":"string"},{"name":"service-provider","in":"query","description":"service-provider","required":false,"type":"string"},{"name":"account","in":"query","description":"account","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Encounter/create":{"post":{"tags":["encounter-controller"],"summary":"createEncounter","operationId":"createEncounterUsingPOST_3","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Encounter/{id}":{"put":{"tags":["encounter-controller"],"summary":"updateEncounter","operationId":"updateEncounterUsingPUT_3","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["encounter-controller"],"summary":"deleteEncounter","operationId":"deleteEncounterUsingDELETE_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Goal":{"get":{"tags":["goal-controller"],"summary":"findAllGoal","operationId":"findAllGoalUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"start-date","in":"query","description":"start-date","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"target-date","in":"query","description":"target-date","required":false,"type":"string"},{"name":"achivement-status","in":"query","description":"achivement-status","required":false,"type":"string"},{"name":"lifecycle-status","in":"query","description":"lifecycle-status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Goal/create":{"post":{"tags":["goal-controller"],"summary":"createGoal","operationId":"createGoalUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Goal/{id}":{"put":{"tags":["goal-controller"],"summary":"updateGoal","operationId":"updateGoalUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["goal-controller"],"summary":"deleteGoal","operationId":"deleteGoalUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Immunization":{"get":{"tags":["immunization-controller"],"summary":"findAllImmunization","operationId":"findAllImmunizationUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"performer","in":"query","description":"performer","required":false,"type":"string"},{"name":"reaction","in":"query","description":"reaction","required":false,"type":"string"},{"name":"lot-number","in":"query","description":"lot-number","required":false,"type":"string"},{"name":"status-reason","in":"query","description":"status-reason","required":false,"type":"string"},{"name":"reason-code","in":"query","description":"reason-code","required":false,"type":"string"},{"name":"manufacturer","in":"query","description":"manufacturer","required":false,"type":"string"},{"name":"target-disease","in":"query","description":"target-disease","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"series","in":"query","description":"series","required":false,"type":"string"},{"name":"vaccine-code","in":"query","description":"vaccine-code","required":false,"type":"string"},{"name":"reason-reference","in":"query","description":"reason-reference","required":false,"type":"string"},{"name":"location","in":"query","description":"location","required":false,"type":"string"},{"name":"reaction-date","in":"query","description":"reaction-date","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Immunization/create":{"post":{"tags":["immunization-controller"],"summary":"createImmunization","operationId":"createImmunizationUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Immunization/{id}":{"get":{"tags":["immunization-controller"],"summary":"findImmunizationById","operationId":"findImmunizationByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["immunization-controller"],"summary":"updateImmunization","operationId":"updateImmunizationUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["immunization-controller"],"summary":"deleteImmunization","operationId":"deleteImmunizationUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/List":{"get":{"tags":["list-controller"],"summary":"findAllCoveragePlan","operationId":"findAllCoveragePlanUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"empty-reason","in":"query","description":"empty-reason","required":false,"type":"string"},{"name":"encounter","in":"query","description":"encounter","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"item","in":"query","description":"item","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"notes","in":"query","description":"notes","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"source","in":"query","description":"source","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"title","in":"query","description":"title","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/List/create":{"post":{"tags":["list-controller"],"summary":"createCoveragePlan","operationId":"createCoveragePlanUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/List/{id}":{"get":{"tags":["list-controller"],"summary":"findCoveragePlanById","operationId":"findCoveragePlanByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["list-controller"],"summary":"updateCoverage","operationId":"updateCoverageUsingPUT_3","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["list-controller"],"summary":"deleteCoveragePlan","operationId":"deleteCoveragePlanUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Location":{"get":{"tags":["location-controller"],"summary":"findAllLocation","operationId":"findAllLocationUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"partof","in":"query","description":"partof","required":false,"type":"string"},{"name":"address","in":"query","description":"address","required":false,"type":"string"},{"name":"address-state","in":"query","description":"address-state","required":false,"type":"string"},{"name":"operational-status","in":"query","description":"operational-status","required":false,"type":"string"},{"name":"address-postalcode","in":"query","description":"address-postalcode","required":false,"type":"string"},{"name":"address-country","in":"query","description":"address-country","required":false,"type":"string"},{"name":"endpoint","in":"query","description":"endpoint","required":false,"type":"string"},{"name":"organization","in":"query","description":"organization","required":false,"type":"string"},{"name":"address-use","in":"query","description":"address-use","required":false,"type":"string"},{"name":"near","in":"query","description":"near","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"address-city","in":"query","description":"address-city","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Location/create":{"post":{"tags":["location-controller"],"summary":"createLocation","operationId":"createLocationUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Location/{id}":{"put":{"tags":["location-controller"],"summary":"updateLocation","operationId":"updateLocationUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["location-controller"],"summary":"deleteLocation","operationId":"deleteLocationUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/MasterData/RuleSettingOptions":{"get":{"tags":["master-data-controller"],"summary":"ruleSettings","operationId":"ruleSettingsUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/MasterData/UserRoles":{"get":{"tags":["master-data-controller"],"summary":"userRoles","operationId":"userRolesUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Medication":{"get":{"tags":["medication-controller"],"summary":"findAllMedication","operationId":"findAllMedicationUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"ingredient-code","in":"query","description":"ingredient-code","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"ingredient","in":"query","description":"ingredient","required":false,"type":"string"},{"name":"form","in":"query","description":"form","required":false,"type":"string"},{"name":"lot-number","in":"query","description":"lot-number","required":false,"type":"string"},{"name":"expiration-date","in":"query","description":"expiration-date","required":false,"type":"string"},{"name":"manufacturer","in":"query","description":"manufacturer","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Medication/create":{"post":{"tags":["medication-controller"],"summary":"createMedication","operationId":"createMedicationUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Medication/{id}":{"put":{"tags":["medication-controller"],"summary":"updateMedication","operationId":"updateMedicationUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["medication-controller"],"summary":"deleteMedication","operationId":"deleteMedicationUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/MedicationKnowledge":{"get":{"tags":["medication-knowledge-controller"],"summary":"findAllMedicationKnowledgePlan","operationId":"findAllMedicationKnowledgePlanUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"ingredient","in":"query","description":"ingredient","required":false,"type":"string"},{"name":"doseform","in":"query","description":"doseform","required":false,"type":"string"},{"name":"classification-type","in":"query","description":"classification-type","required":false,"type":"string"},{"name":"monograph-type","in":"query","description":"monograph-type","required":false,"type":"string"},{"name":"classification","in":"query","description":"classification","required":false,"type":"string"},{"name":"manufacturer","in":"query","description":"manufacturer","required":false,"type":"string"},{"name":"ingredient-code","in":"query","description":"ingredient-code","required":false,"type":"string"},{"name":"source-cost","in":"query","description":"source-cost","required":false,"type":"string"},{"name":"monitoring-program-name","in":"query","description":"monitoring-program-name","required":false,"type":"string"},{"name":"monograph","in":"query","description":"monograph","required":false,"type":"string"},{"name":"monitoring-program-type","in":"query","description":"monitoring-program-type","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"DrugPlan","in":"query","description":"DrugPlan","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"name":"_getpages","in":"query","description":"_getpages","required":false,"type":"string"},{"name":"_getpagesoffset","in":"query","description":"_getpagesoffset","required":false,"type":"integer","default":0,"format":"int32"},{"name":"_count","in":"query","description":"_count","required":false,"type":"integer","default":20,"format":"int32"},{"name":"_bundletype","in":"query","description":"_bundletype","required":false,"type":"string","default":"searchset"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/MedicationKnowledge/create":{"post":{"tags":["medication-knowledge-controller"],"summary":"createMedicationKnowledgePlan","operationId":"createMedicationKnowledgePlanUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":true,"type":"string"},{"name":"_pretty","in":"query","description":"_pretty","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/MedicationKnowledge/{id}":{"get":{"tags":["medication-knowledge-controller"],"summary":"findMedicationKnowledgeById","operationId":"findMedicationKnowledgeByIdUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["medication-knowledge-controller"],"summary":"updateMedicationKnowledgePlan","operationId":"updateMedicationKnowledgePlanUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["medication-knowledge-controller"],"summary":"deleteMedicationKnowledgePlan","operationId":"deleteMedicationKnowledgePlanUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"format","in":"query","description":"format","required":false,"type":"string"},{"name":"pretty","in":"query","description":"pretty","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/MedicationRequest":{"get":{"tags":["medication-request-controller"],"summary":"findAllMedicationRequest","operationId":"findAllMedicationRequestUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"requester","in":"query","description":"requester","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"intended-dispenser","in":"query","description":"intended-dispenser","required":false,"type":"string"},{"name":"authoredon","in":"query","description":"authoredon","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"medication","in":"query","description":"medication","required":false,"type":"string"},{"name":"encounter","in":"query","description":"encounter","required":false,"type":"string"},{"name":"priority","in":"query","description":"priority","required":false,"type":"string"},{"name":"intent","in":"query","description":"intent","required":false,"type":"string"},{"name":"intended-performer","in":"query","description":"intended-performer","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"intended-performertype","in":"query","description":"intended-performertype","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/MedicationRequest/create":{"post":{"tags":["medication-request-controller"],"summary":"createMedicationRequest","operationId":"createMedicationRequestUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/MedicationRequest/{id}":{"put":{"tags":["medication-request-controller"],"summary":"updateMedicationRequest","operationId":"updateMedicationRequestUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["medication-request-controller"],"summary":"deleteMedicationRequest","operationId":"deleteMedicationRequestUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"204":{"description":"No Content"},"403":{"description":"Forbidden"}}}},"/fhir/Member360/{id}":{"get":{"tags":["member-360-controller"],"summary":"getMember360","operationId":"getMember360UsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"name":"_count","in":"query","description":"_count","required":false,"type":"integer","default":5,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Observation":{"get":{"tags":["observation-controller"],"summary":"findAllObservation","operationId":"findAllObservationUsingGET_1","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"_id","in":"query","description":"_id","required":false,"type":"string"},{"name":"_language","in":"query","description":"_language","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"combo-data-absent-reason","in":"query","description":"combo-data-absent-reason","required":false,"type":"string"},{"name":"code","in":"query","description":"code","required":false,"type":"string"},{"name":"combo-code-value-quantity","in":"query","description":"combo-code-value-quantity","required":false,"type":"string"},{"name":"component-data-absent-reason","in":"query","description":"component-data-absent-reason","required":false,"type":"string"},{"name":"subject","in":"query","description":"subject","required":false,"type":"string"},{"name":"value-concept","in":"query","description":"value-concept","required":false,"type":"string"},{"name":"value-date","in":"query","description":"value-date","required":false,"type":"string"},{"name":"derived-from","in":"query","description":"derived-from","required":false,"type":"string"},{"name":"focous","in":"query","description":"focous","required":false,"type":"string"},{"name":"part-of","in":"query","description":"part-of","required":false,"type":"string"},{"name":"has-member","in":"query","description":"has-member","required":false,"type":"string"},{"name":"code-value-string","in":"query","description":"code-value-string","required":false,"type":"string"},{"name":"component-code-value-quantity","in":"query","description":"component-code-value-quantity","required":false,"type":"string"},{"name":"based-on","in":"query","description":"based-on","required":false,"type":"string"},{"name":"code-value-date","in":"query","description":"code-value-date","required":false,"type":"string"},{"name":"patient","in":"query","description":"patient","required":false,"type":"string"},{"name":"specimen","in":"query","description":"specimen","required":false,"type":"string"},{"name":"code-value-quantity","in":"query","description":"code-value-quantity","required":false,"type":"string"},{"name":"component-code","in":"query","description":"component-code","required":false,"type":"string"},{"name":"combo-code-value-concept","in":"query","description":"combo-code-value-concept","required":false,"type":"string"},{"name":"value-string","in":"query","description":"value-string","required":false,"type":"string"},{"name":"identifier","in":"query","description":"identifier","required":false,"type":"string"},{"name":"performer","in":"query","description":"performer","required":false,"type":"string"},{"name":"combo-code","in":"query","description":"combo-code","required":false,"type":"string"},{"name":"method","in":"query","description":"method","required":false,"type":"string"},{"name":"value-quantity","in":"query","description":"value-quantity","required":false,"type":"string"},{"name":"component-value-quantity","in":"query","description":"component-value-quantity","required":false,"type":"string"},{"name":"data-absent-reason","in":"query","description":"data-absent-reason","required":false,"type":"string"},{"name":"combo-value-quantity","in":"query","description":"combo-value-quantity","required":false,"type":"string"},{"name":"encounter","in":"query","description":"encounter","required":false,"type":"string"},{"name":"code-value-concept","in":"query","description":"code-value-concept","required":false,"type":"string"},{"name":"component-code-value-concept","in":"query","description":"component-code-value-concept","required":false,"type":"string"},{"name":"component-value-concept","in":"query","description":"component-value-concept","required":false,"type":"string"},{"name":"category","in":"query","description":"category","required":false,"type":"string"},{"name":"device","in":"query","description":"device","required":false,"type":"string"},{"name":"combo-value-concept","in":"query","description":"combo-value-concept","required":false,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Observation/create":{"post":{"tags":["observation-controller"],"summary":"createObservation","operationId":"createObservationUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"type":"string"}},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/fhir/Observation/{id}":{"put":{"tags":["observation-controller"],"summary":"updateObservation","operationId":"updateObservationUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"_format","in":"query","description":"_format","required":false,"type":"string","default":"json"},{"name":"_pretty","in":"query","description":"_pretty","required":false,"type":"boolean","default":true},{"in":"body","name"
[...]
